.footer {
    background-color: #f8f8f8; /* Color de fondo del footer */
    padding: 20px 0; /* Espaciado interno */
    text-align: center; /* Centra el texto */
    border-top: 1px solid #5c5c5c; /* Borde superior */
  }
  
  .footer .container {
    max-width: flex; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centra el contenedor */
    padding: 0 20px; /* Espaciado interno */
  }
  