<div class="grid-container">
  <h1 class="mat-h1">Biblioteca De Juegos</h1>
  <mat-card>
    <mat-card-header> 
      <mat-card-title>Agregar Juego</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <stepper-vertical [(receivedArray)] = "receivedArray"></stepper-vertical>
    </mat-card-content>
  </mat-card>
</div>

<div class="grid-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Lista de juegos</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table>
        @for (game of receivedArray; track game) {
          <tr>
          <td>{{game.id}}</td>
          <td>{{ game.gameName }}</td>
          <td>{{ game.description }}</td>
          <td>{{ game.date }}</td>
          <td>
            <button mat-button (click)="deleteGame(game.id)">Delete</button>
          </td>
        </tr>
        }        
      </table>
    </mat-card-content>
  </mat-card>
</div>
